<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowology.dao.ShortMsgMapper">
  <resultMap id="BaseResultMap" type="com.knowology.model.ShortMsg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SHORTMSG_NAME" jdbcType="VARCHAR" property="shortmsgName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="SHORTMSG_CONTENT" jdbcType="VARCHAR" property="shortmsgContent" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
  </resultMap>
</mapper>