<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowology.dao.StrategyDetailMapper">
  <resultMap id="BaseResultMap" type="com.knowology.model.StrategyDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="STRATEGY_NAME" jdbcType="VARCHAR" property="strategyName" />
    <result column="AGAIN_CALL_INTERVAL" jdbcType="INTEGER" property="againCallInterval" />
    <result column="CALL_TIMES" jdbcType="INTEGER" property="callTimes" />
    <result column="FAILURE_CASE" jdbcType="VARCHAR" property="failureCase" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
  </resultMap>
</mapper>