<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowology.dao.TimeStrategyMapper">
  <resultMap id="BaseResultMap" type="com.knowology.model.TimeStrategy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="STRATEGY_NAME" jdbcType="VARCHAR" property="strategyName" />
    <result column="EXECUTE_TIME" jdbcType="VARCHAR" property="executeTime" />
    <result column="REPEAT_WEEK" jdbcType="VARCHAR" property="repeatWeek" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
  </resultMap>
</mapper>