<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowology.dao.BlackListCallMapper">
  <resultMap id="BaseResultMap" type="com.knowology.model.BlackListCall">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BLACK_NUM" jdbcType="VARCHAR" property="blackNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
  </resultMap>

  <select id="selectBlackListCallResult" resultMap="BaseResultMap">
    SELECT ID,BLACK_NUM,CREATE_TIME,CREATOR FROM Z_BLACKLISTCALL
    <where>
      <if test="slurNum != null and ''!=slurNum">
        and BLACK_NUM LIKE CONCAT(#{slurNum},'%')
      </if>
    </where>
  </select>
  <delete id="deleteBlackNum">
    DELETE FROM Z_BLACKLISTCALL WHERE ID=#{id}
  </delete>

  <insert id="addblackNum">
    INSERT INTO Z_BLACKLISTCALL
    (
    BLACK_NUM,
    CREATOR,
    CREATE_TIME
    )
    VALUES
    (
    #{blackNum,jdbcType=VARCHAR},
    #{creator,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>
</mapper>