<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowology.dao.SceneMapper">
  <resultMap id="BaseResultMap" type="com.knowology.model.Scene">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SCENE" jdbcType="VARCHAR" property="scene" />
    <result column="SHOP" jdbcType="VARCHAR" property="shop" />
    <result column="CHANNEL" jdbcType="VARCHAR" property="channel" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>