<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowology.dao.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.knowology.model.UserRole">
        <result column="USER_ID" jdbcType="INTEGER" property="userId"/>
        <result column="ROLE_ID" jdbcType="INTEGER" property="roleId"/>
    </resultMap>
</mapper>